.models {
  margin-top: 12px;
}
.models h3 {
  padding: 50px 0;
  font-size: 25px;
}
.models .topBar {
  display: flex;
  gap: 50px;
}
.models .topBar .results {
  padding: 10px;
  font-size: 17px;
}
.models .topBar .sorting {
  background-color: #eee;
  /* flex-grow: 2; */
  border: #23262f;
  display: flex;
  align-items: center;
  padding: 10px;
  width: 200px;
  justify-content: space-between;
}
.models .topBar .sorting svg {
  margin-top: 7px;
  color: #23262f;
}
.models .products {
  display: flex;
  justify-content: space-between;
  gap: 65px;
}
.models .products .filters {
  /* width: 40vw; */
}
.models .products .cards {
  display: grid;
  height: fit-content;
  /* justify-content: space-between; */
  grid-template-columns: repeat(3, auto);
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px;
  margin-bottom: 35px;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 50px;
}

@media (max-width: 767px) {
  .models {
    h3 {
      text-align: center;
    }
    .topBar {
      flex-direction: column;
      justify-content: center;

      align-items: center;
      img {
        margin: auto;
      }
    }
    .filters {
      display: none;
    }
  }
}
