.home-contact {
}
.home-contact .container {
  height: 292px;
  padding-top: 60px;
  padding-bottom: 80px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-contact .container .image {
  width: 40%;
}

.home-contact .container .image img {
  width: 100%;
}
.home-contact .container .home-main-title {
  display: block;
  text-align: left;
  margin-bottom: 32px;
}
.home-contact .container form {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.home-contact .container form input {
  border: none;
}
.home-contact .container form .email-input {
  padding: 22px 24px;
  width: 100%;
  background-color: #c0c0c0;
  color: #23262f;
  caret-color: var(--primary-color);
}
.home-contact .container form .email-input:focus {
  outline: none;
  border: none;
}
.home-contact .container form .shop-btn {
  width: 145px;
  height: 62px;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary-color);
}
@media (max-width: 991px) {
  .home-contact .container {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -10%;
    padding-top: 0px;
  }
  .home-contact .container .image {
    width: 50%;
  }
}
@media (max-width: 550px) {
  .home-contact .home-main-title h2 {
    font-size: 32px;
  }
}
@media (max-width: 500px) {
  .home-contact .home-main-title h2 {
    font-size: 20px;
    font-weight: 600;
  }
  .home-contact .container {
    justify-content: flex-start;
  }
  .home-contact .container form {
    gap: 16px;
  }
  .home-contact .container form .email-input {
    padding: 13px 15px;
    width: 100%;
  }
  .home-contact .container form .shop-btn {
    height: 40px;
    font-size: 14px;
  }
}
