.video {
  padding-top: 7px;
  padding-bottom: 5px;
}
.video .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.video .container .video-img,
.video .container .video-img video {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
