.password {
  padding-top: 133px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #00000033, #00000033),
    url("/assets/Images/istockphoto-943910360-2048x2048.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.password-btn {
  margin-top: 18px;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  border: none;
  background-color: var(--primary-color);
  cursor: pointer;
}
.password-btn.disabled {
  background-color: var(--nutral-color);
  cursor: not-allowed;
}
