/* .order {
    padding-top: 141.2px;
}
.order .title{
margin-bottom:20px;
}
.order .count-of-all-order{
    padding: 20px;
}
.order table{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.order table tbody tr td img{
    width: 50px;
    height: 50px;
} */
.order {
  padding-top: 141.2px;
  padding-bottom: 40px;
}
.order .title {
  margin-bottom: 20px;
}
.order .count-of-all-order {
  padding: 20px;
}
.order table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  font-size: 14px;
  tbody {
    tr {
      transition: 0.5s;
    }
  }
}

.order table th,
.order table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.order table th {
  background-color: #fafafa;
  font-weight: bold;
}
.order table tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
.order table tbody tr:nth-child(even) {
  /* background-color: #f5f5f5; */
}

.order table tbody tr:hover {
  background-color: #e5e5e5;
}

.order table td img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}
.order table .color-cell {
  text-align: "center";
  vertical-align: " middle";
  margin: "auto";
  p {
    margin: auto;
  }
}
