.fullcart .container {
  padding: 68px 99px 48px 100px;
}
.fullcart .container .info {
  display: flex;
  gap: 23px;
}
.fullcart .info .pro,
.fullcart .info .price,
hr,
.fullcart .pro .table .product-number {
  border: solid 1px #e4e7e9;
}
.fullcart .info .pro {
  width: 75%;
  .title {
    padding: 20px 24px;
    font-weight: 500;
    font-size: 18px;
    color: #191c1f;
  }
  .table {
    width: 100%;
  }
}
.fullcart .info .pro .table .header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 24px;
  background-color: #e4e7e9;
  color: #475156;
  gap: 24px;
  .td {
    width: 27%;
    text-align: center;
  }
}
.fullcart .body .row-pro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 24px;
  gap: 30;
}
.fullcart .body .img-pro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  /* width: 27%; */
  img {
    width: 50px;
    height: 50px;
  }
}
.fullcart .body .product-number {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30px;
}

.fullcart .pro .ret {
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  a {
    padding: 16px 24px;
    border: 1px solid #23262f;
    color: #23262f;
    background-color: white;
    transition: 0.5s;
    p {
      font-weight: 600;
      font-size: 14px;
    }
  }
}
.fullcart .pro a:hover {
  background-color: #1d322f;
  color: white;
}
.fullcart .price {
  display: flex;
  flex-direction: column;
  gap: 9px;
  width: 40%;
  padding: 24px 20px;
}
.fullcart .price .title {
  p {
    font-weight: 500;
    font-size: 18px;
    padding: 20px 10px;
  }
}
.fullcart .price .desc {
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
  gap: 16px;
}
.fullcart .price .desc .box,
.fullcart .price .desc .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fullcart .price .desc .box {
  gap: 12px;
  p {
    font-weight: 400;
    font-size: 14px;
  }
}
.fullcart .price .desc .total p {
  font-weight: 600;
  font-size: 16px;
}
.fullcart .price button {
  padding: 16px 24px;
  background-color: #1d322f;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1%;
  transition: 0.5s;
  cursor: pointer;
}
.fullcart .price button:hover {
  color: white;
  background-color: var(--secondary-color);
}
