.accordion-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 5px 15px;
  cursor: pointer;
  border-top: 2px solid #fff;
  border-bottom: 4px solid #fff;
  margin-bottom: 5px;
}

.accordion-item .accordion-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.accordion-item ul {
  list-style: none;
  padding-left: 0;
  margin: 5px 0 0 0;
}

.accordion-item li {
  margin: 5px 0;
}

.accordion-item input[type="radio"] {
  display: none; /* نخفي الدائرة الافتراضية */
}

.accordion-item label {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
}

.accordion-item input[type="radio"]:checked + label {
  background-color: var(--primary-color); /* الخلفية عند الاختيار */
  color: #fff;
}
