.models .products .cards .card {
}
.models .products .cards .card img {
  width: 300px;
  height: 290px;
  border: 1px solid #eee;
}
.models .products .cards .card p {
}
.models .products .cards .card .price {
}
