.product {
  /* letter-spacing: 1px; */
  /* margin: 150px 60px 0 60px; */
  margin: 50px 0px;
  h2 {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  /* reset other pagesStyles */
  .comment-bar {
    .name-and-comment {
      padding-top: 0px;
    }
  }
  .write-comment-sec .write-comment-form {
    .phone-email-info {
      padding-top: 0px;
    }
  }
  /* end reset other pagesStyles */
  .view-cart {
    display: flex;
    justify-content: space-between;
    background-color: #e2e2e2;
    padding: 20px 25px;
    margin: 30px 0;
    p {
      font-size: 20px;
      font-weight: 400;
    }
    /* a::before {
      content: "";
      background-color: var(--text-color);
      position: absolute;
      height: 56px;
      width: 1px;
      left: -16%;
      top: -35%;
    } */
    a {
      position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: 400;
      border-left: 1px solid var(--text-color);
      padding: 0 10px;
    }
  }
  .product-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    .product-imgs {
      position: relative;
      width: 50%;
      .product-img {
        max-width: 100%;
        img {
          width: 100%;
          max-height: 535px;
        }
      }
      .more-photos {
        display: flex;
        gap: 10px;
        margin-top: 15px;
        img {
          width: 19%;
          height: 19%;
        }
        img.active {
          border: 2px solid var(--primary-color);
        }
      }
    }
    .product-details {
      position: relative;
      .top-product {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        .rating {
          display: flex;
          justify-content: center;
          align-items: center;
          .icon {
            color: #fa8232;
          }
          gap: 3px;
          .rev {
            color: #5f6c72;
            padding: 5px 10px;
          }
        }
        .share {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;
          color: #5f6c72;
          .icon {
            margin-top: 3px;
            color: #5f6c72;
            background-color: transparent;
            width: 24px;
            height: 24px;
            font-size: 16px;
            transition: 0.5s;
            cursor: pointer;
          }
          .icon:hover {
            color: var(--primary-color);
          }
        }
      }

      h1 {
        margin: 15px 0;
        font-size: 25px;
      }
      p {
        margin: 15px 0;
      }

      .price-box {
        margin: 15px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span.price {
          font-weight: bold;
          font-size: 25px;
        }
        span.real-price {
          color: #c0c0c0;
          font-size: 20px;
          padding: 0 20px;
          text-decoration: line-through;
        }
        .sale {
          padding: 10px;
          font-weight: 500;
          background-color: #efd33d;
        }
      }
      .cart {
        outline: none;
        border: none;
        font-weight: normal;
        margin-top: 42px;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .cart-btn {
          /* width: 350px; */
          /* height: 50px; */
          width: 65%;
          padding: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          color: white;
          text-align: center;
          background-color: var(--primary-color);
          letter-spacing: 1px;
          font-weight: 400;
          font-size: 18px;
          cursor: pointer;
          .arrow-icon {
            font-size: 22px;
            transition: 0.5s;
            /* margin-bottom: 4px; */
          }
        }
        .cart-btn:hover {
          background-color: var(--third-color);
          .arrow-icon {
            transform: rotate(45deg);
          }
        }

        .product-number {
          /* width: 130px; */
          width: 33%;
          text-align: center;
          padding: 0 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #1d322f;
          order: 2;

          button {
            background-color: white;
            font-size: 20px;
            top: 11px;
          }
        }
      }
      hr {
        margin: 30px 0;
      }
      .architecture {
        p {
          margin: 32px 0;
          font-size: 18px;
        }
        .download-button {
          background-color: var(--primary-color);
          color: white;
          padding: 20px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 325px;
          button {
            background-color: var(--primary-color);
            color: white;
            font-size: 20px;
            text-align: center;
            gap: 20px;
            display: flex;
            cursor: pointer;
          }
          a,
          p {
            margin: 0px;
            color: white;
            display: flex;
            gap: 5px;
            align-items: center;
          }
          .file-type {
            font-size: 18px;
            margin-bottom: 2px;
          }
          button.file-type::before {
            content: "";
            position: relative;
            width: 555px;
            height: 2px;
            background-color: white;
          }
        }
        .popup {
          width: 264px;
          background-color: white;
          box-shadow: 3px 3px 10px var(--nutral-color);
          right: 40px;
          position: absolute;
          .title {
            color: var(--nutral-color);
            font-size: 20px;
            font-weight: 500;
            padding: 7px 13px;
          }
          ul {
            font-size: 18px;
            li {
              padding: 10px;
              margin: 8px 0;
              padding: 10px 4px;
              a {
                display: flex;
                justify-content: space-between;
                color: black;
                .suffix {
                  font-weight: 500;
                }
                .size {
                  font-weight: 400;
                }
              }
            }
            li:hover {
              background-color: var(--nutral-color);
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  hr {
    width: 100%;
    margin: 60px 0;
  }
  .description {
    .title {
      font-size: 22px;
      font-weight: bold;
    }
    .des {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
    .colors {
      display: flex;
      align-items: center;
      gap: 12px;
      .choose-color {
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }
      input {
        display: none;
      }
      .choose-color.active {
        border: 2px solid var(--primary-color);
      }
    }
    .info {
      display: flex;
      gap: 40px;
      margin: 40px 0;
      .title {
        color: var(--text-color);
        font-size: 18px;
        font-weight: 600;
      }
      .desc {
        font-size: 18px;
        color: var(--text-color);
      }
    }
  }
  hr {
    margin: 0px;
  }
  > div {
    padding: 60px 0px;
  }
  > div:first-child {
    padding-top: 0px;
  }
  .description {
    padding-bottom: 20px;
  }
  /* > div:last-child {
    padding-bottom: 0px;
  } */
}
.single-product .loader-holder {
  height: 100vh;
}
@media (max-width: 767px) {
  .product {
    max-width: 100vw;
    margin-left: 0;
    margin-right: 0;

    .product-content {
      flex-direction: column;
      .product-imgs {
        width: 100%;
        .product-img {
          img {
            max-width: 100vw;
          }
        }
        .more-photos {
          gap: 0;
          margin-top: 0px;
          img {
            width: 20%;
            height: 20%;
            padding: 1px;
          }
        }
      }
      .product-details {
        padding: 0 20px;
        width: 100%;
        .top-product {
          padding: 5px 0;
          flex-direction: column-reverse;
          justify-content: center;
          align-items: center;
          .rating {
            justify-content: flex-start;
          }
          .share {
            justify-content: flex-start;
          }
        }

        h2 {
          text-align: center;
        }
        p {
          text-align: center;
        }
        .price-box {
          span.price,
          span.real-price {
            font-size: 18px;
            margin: auto;
          }
        }
        .sale {
          padding: 3px 10px;
        }
        .cart {
          justify-content: space-around;
          a {
            padding: 5px;
            width: 50%;
            height: 40px;
          }

          .product-number {
            button {
              top: 6px;
            }
          }
        }
        hr {
          /* margin: 15px 0; */
        }
        .architecture {
          p {
            margin: 32px 0;
            font-size: 18px;
          }
          .download-button {
            width: 100%;
            max-width: 325px;
            margin: auto;
            padding: 10px;
          }
        }
      }
    }
    .description {
      padding: 0 20px;
      .title {
        font-style: 21px;
      }
    }
  }
}
.product .description,
.product .comment-bar,
.product .write-comment-sec {
  width: 70%;
}

.name-and-time {
  .rating {
    color: #fa8232;
    margin: 0px 20px;
  }
}
