.home-hero {
  /* padding-bottom: 16.5%; */
  padding-top: 141.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/Images/home-hero-bg.png");
  position: relative;
}
.home-hero .container {
  text-align: center;
  width: 80%;
}
.home-hero .container h1 {
  font-size: 64px;
  /* font-size: 4.4vw; */
  font-weight: 600;
  color: var(--primary-color);
}
.home-hero .container p.desc {
  /* margin: 30px 0px 60px; */
  margin: 2.1vw 0px 4.2vw;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.2px;
  line-height: 30px;
  text-align: center;

  color: var(--text-color);
}
.home-hero .container .btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.home-hero .container .btns .btn {
  width: 257px;
  height: 62px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 30px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
/* .home-hero .container .btns .btn:hover {
  transform: scale(0.9);
} */
.home-hero .container .btns .shop-btn {
  background-color: #e2e2e266;
  backdrop-filter: blur(30px);
}
.home-hero .container .btns .shop-btn:hover {
  color: var(--primary-color);
  background-color: white;
}
.home-hero .container .btns .customize-btn {
  border: 1px solid white;
  background-color: transparent;
}
.home-hero .container .btns .customize-btn:hover {
  color: white;
  background-color: var(--primary-color);
}
@media (max-width: 991px) {
  /* .home-hero .container h1 {
    font-size: 58px;
  } */
  .home-hero .container {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .home-hero .container h1 {
    font-size: 48px;
  }
  .home-hero .container p.desc {
    font-size: 20px;
  }
  .home-hero .container .btns .btn {
    width: 50%;
  }
}

@media (max-width: 520px) {
  .home-hero .container h1 {
    font-size: 24px;
  }
  .home-hero .container p.desc {
    font-size: 16px;
  }
  .home-hero .container .btns .btn {
    width: 50%;
    height: 45px;
    font-size: 14px;
  }
}
