header {
  height: 50px;
  color: white;
  background-color: var(--secondary-color);
  background-color: #61706e;
  background-color: #4a5957;
}
header .container,
header .container .holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container {
  height: 100%;
}
header .container .customize {
  text-transform: uppercase;
}
header .container .holder {
  gap: 0.6vw;
}
header .container .holder .language {
  /* margin-left: 5.5vw; */
}
.language .globe-icon {
  font-size: 24px;
}
.language .arrow-icon {
  cursor: pointer;
}
@media (max-width: 550px) {
  header .container .customize {
    font-size: 12px;
    flex: 1;
    text-align: center;
  }
}
