.application{
    position: relative;
    margin-bottom: 20px;
}
.application .container{
    background-color: #E2E2E2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0px 90px;
}
.application .container .text{
    display: flex;
    flex-direction: column;
}
.application .text .title{
    padding-top: 42px;
    padding-bottom: 28px;
    h2{
        font-weight: 600px;
        font-size: 30px;
    }
    p{
        font-weight: 400px;
        font-size: 20px; 
    }
}
.application .text .desc{
    padding-bottom: 24px;
    p{
        font-weight: 400px;
        font-size: 16px; 
    }
}
.application .container .image{
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-bottom: 27px;
}
.application .image .app{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    .app-img{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    p{
        font-weight: 400px;
        font-size: 24px;
    }
}
.application .phone-img{
    position: absolute;
    top: 0;
    left: 0;
    .one{
        position: absolute;
        top: 70px;
        left: 250px;
        z-index: 2;
    }
    .two{
        position: absolute;
        left: 90px;
        top: 5px;
        z-index: 1;
    }
}
@media (max-width: 991px) {
    .application .container {
        background-color: #E2E2E2;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px 0px;
        text-align: center;}
    .application .phone-img {
        display: none;
    }
  
    .application .container .text{
        width: 100%;

    }
    .application .container .image .qrcode{
        padding-top: 10px;
    }}

@media (max-width: 1250px) {
    .application .phone-img .two{
        top:72px;
    }
    .application .phone-img .one{
        left: 250px;
        top: 72px;
    }
    .application .container .text{
        
    }
    .application .container .image .qrcode{
        padding-top: 10px;
    }
}
