.all-comments {
  margin-top: 147px;
  padding-bottom: 64px;
  .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
.name-and-comment {
  .name-and-time {
    display: flex;
    align-items: center;
    gap: 16px;
    .name {
      font-weight: 600;
      font-size: 21px;
    }
    h4 {
      font-size: 21px;
    }
    .time {
      font-weight: 300;
      font-size: 16px;
      color: #0e1a2b;
    }
  }
  .comment {
    font-weight: 300;
    font-size: 16px;
    padding-top: 16px;
  }
}
