/* FurnitureFilter.css */
/* .accordion-collapse.animate-open {
  animation: openAccordion 0.4s ease-out forwards;
}

.accordion-collapse.animate-close {
  animation: closeAccordion 0.3s ease-in forwards;
}

@keyframes openAccordion {
  from {
    opacity: 0;
    transform: scaleY(0.9);
  }
  to {
    opacity: 1;
    transform: scaleY(1);
  }
}

@keyframes closeAccordion {
  from {
    opacity: 1;
    transform: scaleY(1);
  }
  to {
    opacity: 0;
    transform: scaleY(0.9);
  }
} */
