.designers {
  /* margin: 150px 0 40px; */
  margin: 50px 0 40px;
}
.designers .designer-header {
  h1 {
    font-weight: 600;
    font-size: 28px;
    padding-bottom: 29px;
  }
}
.designers .designer-header .search-filter-designer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.designers .designer-header .search-filter-designer .search-designer {
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 10px;
  input {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #23262f;
  }
  img {
    width: 20px;
    height: 20px;
  }
}
.designers .designer-header .search-filter-designer .filter-designer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
@media (max-width: 992px) {
  .designers .designer-header .search-filter-designer {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .designers .designer-header .search-filter-designer .filter-designer {
    flex-direction: column;
  }
  .designers .designer-header .search-filter-designer .search-designer {
    padding-bottom: 24px;
  }
}
