.main-categories {
}
.main-categories .home-main-title {
}
.main-categories .holder {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 70px;
}
.main-categories .holder .card {
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.5s;
  color: white;
}
.main-categories .holder .card:hover {
  /* transform: scale(0.9); */
  /* border: 3.43px solid #1d322f; */
}
.main-categories .holder .card.scenes {
  background-image: linear-gradient(to left, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("/assets/Images/3d-scenes1.jpg");
}
.main-categories .holder .card.scenes:hover {
  background-image: url("/assets/Images/3d-scenes1.jpg");
}
.main-categories .holder .card.interior {
  background-image: url("/assets/Images/InteriorDesign.png");
  background-image: linear-gradient(to left, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("/assets/Images/InteriorDesign.png");
}
.main-categories .holder .card.interior:hover {
  background-image: url("/assets/Images/InteriorDesign.png");
}
.main-categories .holder .card.exterior {
  background-image: url("/assets/Images/ExteriorDesign.jpg");
  background-image: linear-gradient(to left, rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
    url("/assets/Images/ExteriorDesign.jpg");
}
.main-categories .holder .card.exterior:hover {
  background-image: url("/assets/Images/ExteriorDesign.jpg");
}
.main-categories .holder .card p {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  text-align: center;
}
@media (max-width: 500px) {
  .main-categories {
    padding: 70px 0px;
  }
  .main-categories .holder {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
