.experts-holder {
}
.experts-holder .experts {
  padding: 38px 0px;
  bottom: -10%;
  left: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
}
.experts-holder .experts .card {
  padding: 0px 6vw;
  text-align: center;
  color: white;
}
.experts-holder .experts .card:not(:last-child) {
  border-right: 1px solid white;
}
.experts-holder .experts .card p.num {
  font-size: 40px;
  font-size: 2.8vw;
  font-weight: 600;
}
.experts-holder .experts .card p.text {
  font-size: 20px;
  font-size: 1.4vw;
  font-weight: 400;
}
@media (max-width: 991px) {
  .home-hero .container {
    width: 100%;
  }
  .experts-holder .experts {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 40px;
  }
  .experts-holder .experts .card p.num {
    font-size: 24px;
  }
  .experts-holder .experts .card p.text {
    font-size: 16px;
  }
  .experts-holder .experts .card:not(:last-child) {
    border: none;
  }
  .experts-holder .experts .card:nth-child(odd) {
    border-right: 1px solid white;
  }
}
